body{
    display: flex;
    margin: 0px;
}

#main-title{
    font-size: 1.6rem;
    display: inline;
    margin-right: 11px;
    color: rgb(65, 65, 65);
    width: 7rem;
}

#beta-version-text{
    font-size: 0.83rem;
    color: rgb(0, 114, 221);
    display: inline;
}

#main-texts-container{
    display: flex;
    align-items: center;
}

#lateral{
    width: auto;
    height: auto;
    padding-left: 1.4vw;
    padding-top: 2.8vh;
    background-color: white;
}

#main{
    width: 60vw;
    height: 78vh;
    background-color: aliceblue;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 88% 2vw auto;
    grid-template-areas: "."
    "p"
    ".";
    justify-content: center;
    margin-top: 3.2rem;
}

#main-container{
    width: 84vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prompt-container{
    width: 100%;
    grid-area: p;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-prompt{
    width: 87%;
    height: 4.5vh;
    border-radius: 20px;
    border: 1px solid rgb(129, 129, 129);
    color: rgb(37, 37, 37);
    margin-right: 10px;
    font-size: 90%;
    resize: none;
    outline: none;
    padding: 2px;
}

i{
    color: rgb(127, 127, 127);
    height: 4.5vh;
    font-size: 1.7rem;
    text-align: center;
}

#lateral .ph-list{
    margin-right: 22px;
}
